<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản trị viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/index.css">

</head>
<body>

<header>
    <div class="menu-container">
        <div class="menu-trigger">☰</div>

        <div class="sidebar">
            <div class="menu-item">
                Quản lý người dùng
                <div class="submenu">
                    <a th:href="@{/admin/student_manage}">Quản lý học sinh</a>
                    <a th:href="@{/admin/teacher_manage}">Quản lý giáo viên</a>
                </div>
            </div>


            <div class="menu-item">
                <a th:href="@{/admin/subject_manage}" style="text-decoration:none; color:inherit;">Quản lý môn học</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/admin/exam_manage}" style="text-decoration:none; color:inherit;">Quản lý đề thi</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/admin/questions}" style="text-decoration:none; color:inherit;">Quản lý câu hỏi</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/admin/statistics}" style="text-decoration:none; color:inherit;">Thống kê / Báo cáo</a>
            </div>
            <div class="logout-item">
                <a th:href="@{/logout}">Đăng xuất</a>
            </div>
        </div>
    </div>

    <h1>Quản trị viên</h1>
    <div class="logo">Logo</div>
</header>

<main>
    <h2>Chào mừng đến trang Quản trị viên</h2>
</main>

</body>
</html>
