.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-save {
    flex: 1;
    padding: 14px 0;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #0099ff, #3ac2ff);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    margin-right: 12px;
}

.btn-save:hover {
    background: linear-gradient(90deg, #0088e6, #32b3f0);
    transform: translateY(-2px);
}

.btn-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;      /* bỏ gạch chân */
    width: 110px;
    padding: 14px 0;
    border: none;
    border-radius: 10px;
    background: #e6e6e6;
    color: #444;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-cancel:hover {
    background: #d1d1d1;
}

body {
    background: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.teacher-header {
    background: #7a5cf4;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

.teacher-header h1 span {
    color: #ffe36d;
}

.menu a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
}

.title {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.profile-container {
    width: 500px;
    background: #f8f8f8;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    margin: 10px 0 20px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #b3ddff;
}

.btn-main {
    display: block;
    width: 100%;
    padding: 14px;
    background: #00aaff;
    color: white;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-main:hover {
    background: #0088cc;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-secondary {
    display: inline-block;
    padding: 14px 30px;
    background: #ddd;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
}
